/* Main site header */

.site-header{

	&__top{

		max-height: 48px;
		overflow: hidden;
		background: linear-gradient(to right,  $black 0%,$black 25%,$green 25%,$green 100%);

		.site-menu {

			display: flex;
		    flex-direction: row;
		    justify-content: space-around;

		    li{
		    	margin-right: 10px;
		    }

			a{
				color: $white;
				opacity: 0.7;
				font-size: 14px;
				&:hover{
					opacity: 1;
				}
			}
		}
	}

	&__bottom{
		.site-menu{

			li{
				padding-left: 2em;
			}

			a{
				color: $white;
				opacity: 0.7;
				font-size: 14px;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

.site-logo{
	position: absolute;
	width: 90%;
	height: auto;
	bottom:0;
}

.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 48px solid $black;
  border-right: 48px solid transparent;
  border-left:30px solid $black;
  position: absolute;
  left: 25%;
  top: 0;
}

.flag-icon{
	position: absolute;
    top: -7px;
}


.link-active{
	opacity: 1 !important;
	font-weight: bolder;
}

.app-header{
	background-color:#ddd;
	position: relative;

	.img-avatar{
		width: 30px;
		height: 30px;
		max-width: 30px;
		max-height: 30px;
		overflow: hidden;
		border-radius: 50%;
	}

	.navbar-brand{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 200px;
	    background: #000;
	    bottom: 0;
	}

	.navbar-nav {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
	}
}